// iPhone X 系列设备底部安全区域高度
$iphonex-safe-bottom-height: env(safe-area-inset-bottom);

// iPhone X 系列设备顶部安全区域高度
$iphonex-safe-top-height: env(safe-area-inset-top);

// iPhone X 系列设备导航栏高度
$iphonex-nav-bar-height: 44px + $iphonex-safe-top-height;

// iPhone X 系列设备底部 tabbar 高度
$iphonex-tab-bar-height: 49px + $iphonex-safe-bottom-height;

// 盒子的统一内边距
$page-padding-x: 16rpx;

page {
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  background-color: #f5f5f5;
  padding: 0 $page-padding-x;
}

view {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

text {
  display: inline-block;
  word-break: break-all;
  overflow-wrap: break-word;
}

// 单行省略
.ellispis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 双行省略
.ellispis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

// 设置0.5px分界线；以下类必须设置 position: relative 才有效;
.line-top {
  &:before {
    content: '';
    position: absolute;
    left: 4%;
    top: 0;
    background: #d9d9d9;
    width: 92%;
    height: 1rpx;
    transform: scaleY(0.5);
    transform-origin: 0 0;
  }
}

.line-bottom {
  &:before {
    content: '';
    position: absolute;
    left: 4%;
    bottom: 0;
    background: #edeeee;
    width: 92%;
    height: 1rpx;
    transform: scaleY(0.5);
    transform-origin: 0 0;
  }
}

.line-right {
  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 20%;
    background: #d9d9d9;
    width: 1rpx;
    height: 60%;
    transform: scaleX(0.5);
    transform-origin: 0 0;
  }
}

// 顶部自定义导航栏最大的盒子样式写在这就不用引入本文件到nav-bar组件
// 因为样式需要用 page 的内边距到 $page-padding-x、这样方便统一管理page内边距
.nav-bar__wrapper {
  position: fixed;
  top: 0;
  left: -$page-padding-x; // 覆盖page的内边距
  right: -$page-padding-x;
  z-index: 99;
  padding: 0 $page-padding-x;
  overflow: hidden;
  background-color: #fff;
}